/*  Charlotte Tiems 
** 10774971
**
** Data processing
** Legenda Scatterplot 
*/


h2, h3{
	font-family: comic sans;
	text-align: center; 
	
}

h4{
	font-family: comic sans;
	text-align: center; 
	font-style: italic;
}


h5{
	font-family: times;
	font-size: 75%;
	text-align:center;
	font-style: bold;
}
